:root {
    color-scheme: light dark;
    background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #16171d;
    }
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100svh;
    background-color: var(--bg);
    font-family: var(--font-family);
    color: var(--text);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: var(--code);
    padding: 2px 4px;
    border-radius: 4px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--hr);
    margin: 16px 0;
}

#loading {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #16171d;
    color: white;
    z-index: 99999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #555;
    border-top-color: white;
    border-radius: 50%;
    animation: spin .8s linear infinite;
    margin-bottom: 16px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

.youtube-video {
    position: relative;
    width: 100%;
    margin: 18px 0;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
}

.youtube-video iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

:root {
    --font-family: Segoe UI;
    --bg: #ffffff;
    --text: #000000e4;
    --link: #4FC3F7;
    --code: #2D2D2D;
    --hr: #d3d3d3ff;
    --scroll-thumb: #00000033;
    --scroll-thumb-hover: #00000072;
    --scroll-track: #e6e6e6ff;
    --horizontal-rule: #d3d3d3ff;
}

[data-theme="dark"] {
    --font-family: Segoe UI;
    --bg: #222;
    --text: #ffffff;
    --link: #4FC3F7;
    --code: #2D2D2D;
    --hr: #d3d3d3ff;
    --scroll-thumb: #ffffff33;
    --scroll-thumb-hover: #ffffff8b;
    --scroll-track: #1f1f1fff;
    --horizontal-rule: #333;
}
